<div class="row"> 
    <div class="col-md-4" *ngFor="let personal of dataPersonal.results"> 
      <div class="thumbnail"> 
        <div class="row"> 
          <div class="col-md-6"> 
            <a href={{personal.picture.large}}> 
              <img src={{personal.picture.large}} alt="user" class="personal"> 
            </a> 
          </div> 
          <div class="col-md-6"> 
            <div class="caption"> 
              <p>Nombre: {{personal.gender}} {{personal.name.last}}</p> 
              <p>Edad: {{personal.dob.age}}</p> 
              <p>Email: {{personal.email}}</p> 
            </div> 
            <div class="col-md-6"> 
            </div> 
          </div> 
        </div> 
      </div> 
      <br> 
    </div> 
  </div>
  